* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
}

nav .nav-container {
  padding: 30px;
  max-width: 1400px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
nav .nav-container .nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .nav-container .nav-left .logo h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #3563e9;
}
nav .nav-container .nav-left .nav-search input {
  border-radius: 70px;
  width: 492px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #596780;
  outline: none;
  padding: 0 0px 0 45px;
  background-image: url(../img/search.svg);
  cursor: pointer;
  background-position: 13px 9px;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 212, 233, 0.4);
}
nav .nav-container .nav-right {
  display: flex;
  gap: 15px;
}
nav .nav-container .nav-right .favorite {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav .nav-container .nav-right .notification {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav .nav-container .nav-right .settings {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav .nav-container .nav-right .user {
  margin-right: 2px;
  border: 4px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  justify-self: center;
  cursor: pointer;
}
nav .nav-container .nav-right .user img {
  border-radius: 90px;
}

.rent-banner {
  padding: 25px;
  background: #f6f7f9;
}
.rent-banner .rent-banner-container {
  display: flex;
  justify-content: center;
  gap: 45px;
  max-width: 1400px;
  margin: auto;
}
.rent-banner .rent-banner-container .left-car {
  border-radius: 10px;
  width: 640px;
  height: 360px;
  background: #54a6ff;
  position: relative;
}
.rent-banner .rent-banner-container .left-car .text-box {
  padding: 20px;
  position: absolute;
}
.rent-banner .rent-banner-container .left-car .text-box h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .left-car .text-box p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .left-car .text-box button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 0px 20px;
  width: 120px;
  height: 44px;
  background: #3563e9;
  border: none;
}
.rent-banner .rent-banner-container .right-car {
  border-radius: 10px;
  width: 640px;
  height: 360px;
  background: #3563e9;
  position: relative;
}
.rent-banner .rent-banner-container .right-car .text-box {
  padding: 20px;
  position: absolute;
}
.rent-banner .rent-banner-container .right-car .text-box h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .right-car .text-box p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .right-car .text-box button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 0px 20px;
  width: 120px;
  height: 44px;
  background: #54a6ff;
  border: none;
}

.order {
  background: #f6f7f9;
}
.order .order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1400px;
  margin: auto;
}
.order .order-container .pick-up {
  border-radius: 10px;
  width: 582px;
  height: 132px;
  padding: 20px;
  background: #fff;
}
.order .order-container .pick-up .mark-text {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.order .order-container .pick-up .mark-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .pick-up .order-time {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.order .order-container .pick-up .order-time .location h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .pick-up .order-time .location p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #90a3bf;
}
.order .order-container .pick-up .order-time .date h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .pick-up .order-time .date p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #90a3bf;
}
.order .order-container .pick-up .order-time .time h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .pick-up .order-time .time p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #90a3bf;
}
.order .order-container .pick-up .order-time .line {
  border: 1px solid rgba(195, 212, 233, 0.4);
  width: 48px;
  height: 0px;
  transform: rotate(-90deg);
}
.order .order-container .switch {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background: #3563e9;
  transition: 600ms;
}
.order .order-container .switch:hover {
  transition: 600ms;
  transform: rotate(90deg);
}
.order .order-container .drop-off {
  border-radius: 10px;
  width: 582px;
  height: 132px;
  padding: 20px;
  background: #fff;
}
.order .order-container .drop-off .mark-text {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.order .order-container .drop-off .mark-text h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .drop-off .order-time {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.order .order-container .drop-off .order-time .location h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .drop-off .order-time .location p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #90a3bf;
}
.order .order-container .drop-off .order-time .date h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .drop-off .order-time .date p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #90a3bf;
}
.order .order-container .drop-off .order-time .time h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #1a202c;
}
.order .order-container .drop-off .order-time .time p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #90a3bf;
}
.order .order-container .drop-off .order-time .line {
  border: 1px solid rgba(195, 212, 233, 0.4);
  width: 48px;
  height: 0px;
  transform: rotate(-90deg);
}/*# sourceMappingURL=style.css.map */