* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
  margin-bottom: 30px;
}
nav .nav-container {
  max-width: 1440px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border: 1px solid rgba(195, 212, 233, 0.4);
}
nav .nav-container .nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav .nav-container .nav-left .logo h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #3563e9;
}
nav .nav-container .nav-left .nav-search input {
  border-radius: 70px;
  width: 492px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #596780;
  outline: none;
  padding: 0 0px 0 45px;
  background-image: url(../img/search.svg);
  cursor: pointer;
  background-position: 13px 9px;
  background-repeat: no-repeat;
  border: 1px solid rgba(195, 212, 233, 0.4);
}
nav .nav-container .nav-right {
  display: flex;
  gap: 15px;
}
nav .nav-container .nav-right .favorite {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav .nav-container .nav-right .notification {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav .nav-container .nav-right .settings {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav .nav-container .nav-right .user {
  margin-right: 2px;
  border: 4px solid rgba(195, 212, 233, 0.4);
  border-radius: 90px;
  width: 44px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  justify-self: center;
  cursor: pointer;
}
nav .nav-container .nav-right .user img {
  border-radius: 90px;
}

.rent-banner {
  margin-bottom: 30px;
}
.rent-banner .rent-banner-container {
  display: flex;
  justify-content: center;
  gap: 45px;
  max-width: 1440px;
  margin: auto;
}
.rent-banner .rent-banner-container .left-car {
  border-radius: 10px;
  width: 640px;
  height: 360px;
  background: #54a6ff;
  position: relative;
}
.rent-banner .rent-banner-container .left-car .text-box {
  padding: 20px;
  position: absolute;
}
.rent-banner .rent-banner-container .left-car .text-box h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .left-car .text-box p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .left-car .text-box button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 0px 20px;
  width: 120px;
  height: 44px;
  background: #3563e9;
  border: none;
}
.rent-banner .rent-banner-container .right-car {
  border-radius: 10px;
  width: 640px;
  height: 360px;
  background: #3563e9;
  position: relative;
}
.rent-banner .rent-banner-container .right-car .text-box {
  padding: 20px;
  position: absolute;
}
.rent-banner .rent-banner-container .right-car .text-box h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .right-car .text-box p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}
.rent-banner .rent-banner-container .right-car .text-box button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 0px 20px;
  width: 120px;
  height: 44px;
  background: #54a6ff;
  border: none;
}

.popular-car .popular-car-container {
  margin: auto;
  max-width: 1440px;
}
.popular-car .popular-car-container .popular-car-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-car .popular-car-container .popular-car-text-box h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #90a3bf;
}
.popular-car .popular-car-container .popular-car-text-box a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #3563e9;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */