* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-family: 'Plus Jakarta Sans', sans-serif;
}

nav {
	border: 1px solid red;
	.nav-container {
		max-width: 1440px;
		height: 124px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
		border: 1px solid rgba(195, 212, 233, 0.4);
		.nav-left {
			display: flex;
			align-items: center;
			gap: 30px;
			.logo {
				h1 {
					font-family: var(--font-family);
					font-weight: 700;
					font-size: 32px;
					line-height: 150%;
					letter-spacing: -0.03em;
					color: #3563e9;
				}
			}
			.nav-search {
				input {
					border-radius: 70px;
					width: 492px;
					height: 44px;
					font-family: var(--font-family);
					font-weight: 500;
					font-size: 14px;
					line-height: 150%;
					letter-spacing: -0.02em;
					text-align: justify;
					color: #596780;
					outline: none;
					padding: 0 0px 0 45px;
					background-image: url(../img/search.svg);
					cursor: pointer;
					background-position: 13px 9px;
					background-repeat: no-repeat;
					border: 1px solid rgba(195, 212, 233, 0.4);
				}
			}
		}
		.nav-right {
			display: flex;
			gap: 15px;
			.favorite {
				border: 1px solid rgba(195, 212, 233, 0.4);
				border-radius: 90px;
				width: 44px;
				height: 44px;
				opacity: 0.8;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}
			.notification {
				border: 1px solid rgba(195, 212, 233, 0.4);
				border-radius: 90px;
				width: 44px;
				height: 44px;
				opacity: 0.8;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}
			.settings {
				border: 1px solid rgba(195, 212, 233, 0.4);
				border-radius: 90px;
				width: 44px;
				height: 44px;
				opacity: 0.8;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}
			// Фикс user profile, фото не помещается в div
			.user {
				display: none;
				border: 1px solid rgba(195, 212, 233, 0.4);
				border-radius: 90px;
				width: 44px;
				height: 44px;
				object-fit: fill;
				opacity: 0.8;
			}
		}
	}
}
