<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MORENT RENT CAR SERVICE</title>
		<link rel="stylesheet" href="../scss/style.css" />
		<link
			href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav>
			<div class="nav-container">
				<div class="nav-left">
					<div class="logo">
						<h1>MORENT</h1>
					</div>
					<div class="nav-search">
						<input type="text" placeholder="Search something herev" required />
					</div>
				</div>
				<div class="nav-right">
					<div class="favorite">
						<img src="../img/favorite.svg" alt="" />
					</div>
					<div class="notification">
						<img src="../img/notification.svg" alt="" />
					</div>
					<div class="settings">
						<img src="../img/settings.svg" alt="" />
					</div>
					<div class="user">
						<img src="../img/derzko.jpg" alt="" />
					</div>
				</div>
			</div>
		</nav>

		<div class="rent-banner">
			<div class="rent-banner-container">
				<div class="left-car">
					<div class="text-box">
						<h1>
							The Best Platform <br />
							for Car Rental
						</h1>
						<p>
							Ease of doing a car rental safely and <br />
							reliably. Of course at a low price.
						</p>
						<button>Rental Car</button>
					</div>
					<img src="../img/ads-banner.png" alt="" />
				</div>
				<div class="right-car">
					<div class="text-box">
						<h1>
							Easy way to rent a <br />
							car at a low price
						</h1>
						<p>
							Providing cheap car rental services <br />
							and safe and comfortable facilities.
						</p>
						<button>Rent Car</button>
					</div>
					<img src="../img/ads-banner-right.png" alt="" />
				</div>
			</div>
		</div>

		<div class="order">
			<div class="order-container">
				<div class="pick-up">
					<div class="mark-text">
						<img src="../img/mark.svg" alt="" />
						<h1>Pick - Up</h1>
					</div>
					<div class="order-time">
						<div class="location">
							<h1>Location</h1>
							<p>Select your city</p>
						</div>
						<div class="line"></div>
						<div class="date">
							<h1>Date</h1>
							<p>Select your date</p>
						</div>
						<div class="line"></div>

						<div class="time">
							<h1>Time</h1>
							<p>Select your time</p>
						</div>
					</div>
				</div>
				<div class="switch">
					<img src="../img/switcher.svg" alt="" />
				</div>
				<div class="drop-off">
					<div class="mark-text">
						<img src="../img/mark.svg" alt="" />
						<h1>Drop - Off</h1>
					</div>
					<div class="order-time">
						<div class="location">
							<h1>Location</h1>
							<p>Select your city</p>
						</div>
						<div class="line"></div>
						<div class="date">
							<h1>Date</h1>
							<p>Select your date</p>
						</div>
						<div class="line"></div>

						<div class="time">
							<h1>Time</h1>
							<p>Select your time</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://kit.fontawesome.com/6c7f5b53c2.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
