<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MORENT RENT CAR SERVICE</title>
		<link rel="stylesheet" href="../scss/style.css" />
		<link
			href="https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic"
			rel="stylesheet"
		/>
	</head>
	<body>
		<nav>
			<div class="nav-container">
				<div class="nav-left">
					<div class="logo">
						<h1>MORENT</h1>
					</div>
					<div class="nav-search">
						<input type="text" placeholder="Search something herev" required />
					</div>
				</div>
				<div class="nav-right">
					<div class="favorite">
						<img src="../img/favorite.svg" alt="" />
					</div>
					<div class="notification">
						<img src="../img/notification.svg" alt="" />
					</div>
					<div class="settings">
						<img src="../img/settings.svg" alt="" />
					</div>
					<div class="user">
						<img src="../img/derzko.jpg" alt="" />
					</div>
				</div>
			</div>
		</nav>

		<div class="rent-banner">
			<div class="rent-banner-container">
				<div class="left-car">
					<div class="text-box">
						<h1>
							The Best Platform <br />
							for Car Rental
						</h1>
						<p>
							Ease of doing a car rental safely and <br />
							reliably. Of course at a low price.
						</p>
						<button>Rental Car</button>
					</div>
					<img src="../img/ads-banner.png" alt="" />
				</div>
				<div class="right-car">
					<div class="text-box">
						<h1>
							Easy way to rent a <br />
							car at a low price
						</h1>
						<p>
							Providing cheap car rental services <br />
							and safe and comfortable facilities.
						</p>
						<button>Rent Car</button>
					</div>
					<img src="../img/ads-banner-right.png" alt="" />
				</div>
			</div>
		</div>

		<div class="popular-car">
			<div class="popular-car-container">
				<div class="popular-car-text-box">
					<h1>Popular Car</h1>
					<a href="#">View All</a>
				</div>
				<div class="popular-car-box">
					<div class="car-card">
						<div class="car-brand">
							<div class="car-text">
								<h1>Koenigsegg</h1>
								<p>Sport</p>
							</div>
							<div class="favorite">
								<img src="../img/favorite-card.svg" alt="">
							</div>
						</div>
						<div class="car-photo">
							<img src="../img/Koenigsegg.png" alt="" />
						</div>
						<div class="smooth"></div>
						<div class="car-info">
							<div class="fuel">
								<img src="../img/fuel-icon.svg" alt="" />
								<h1>90L</h1>
							</div>
							<div class="transmission">
								<img src="../img/transmission.svg" alt="" />
								<h1>Manual</h1>
							</div>
							<div class="seat">
								<img src="../img/people.svg" alt="" />
								<h1>2 People</h1>
							</div>
						</div>
						<div class="rent-buy">
							<div class="rent-price">
								<h1>$99.00/</h1>
								<p>day</p>
							</div>
							<button>Rent Now</button>
						</div>
					</div>
					<div class="car-card">
						<div class="car-brand">
							<div class="car-text">
								<h1>Nissan GT-R</h1>
								<p>Sport</p>
							</div>
							<div class="favorite">
								<img src="../img/favorite-card.svg" alt="">
							</div>
						</div>
						<div class="car-photo">
							<img src="../img/nissan-gtr.png" alt="" />
						</div>
						<div class="smooth"></div>
						<div class="car-info">
							<div class="fuel">
								<img src="../img/fuel-icon.svg" alt="" />
								<h1>90L</h1>
							</div>
							<div class="transmission">
								<img src="../img/transmission.svg" alt="" />
								<h1>Manual</h1>
							</div>
							<div class="seat">
								<img src="../img/people.svg" alt="" />
								<h1>2 People</h1>
							</div>
						</div>
						<div class="rent-buy">
							<div class="rent-price">
								<h1>$99.00/</h1>
								<p>day</p>
							</div>
							<button>Rent Now</button>
						</div>
					</div>
					<div class="car-card">
						<div class="car-brand">
							<div class="car-text">
								<h1>Rolls - Royce</h1>
								<p>Sedan</p>
							</div>
							<div class="favorite">
								<img src="../img/favorite-card.svg" alt="">
							</div>
						</div>
						<div class="car-photo">
							<img src="../img/rolls-royse.png" alt="" />
						</div>
						<div class="smooth"></div>
						<div class="car-info">
							<div class="fuel">
								<img src="../img/fuel-icon.svg" alt="" />
								<h1>90L</h1>
							</div>
							<div class="transmission">
								<img src="../img/transmission.svg" alt="" />
								<h1>Manual</h1>
							</div>
							<div class="seat">
								<img src="../img/people.svg" alt="" />
								<h1>2 People</h1>
							</div>
						</div>
						<div class="rent-buy">
							<div class="rent-price">
								<h1>$99.00/</h1>
								<p>day</p>
							</div>
							<button>Rent Now</button>
						</div>
					</div>
					<div class="car-card">
						<div class="car-brand">
							<div class="car-text">
								<h1>Nissan GT-R</h1>
								<p>Sport</p>
							</div>
							<div class="favorite">
								<img src="../img/favorite-card.svg" alt="">
							</div>
						</div>
						<div class="car-photo">
							<img src="../img/nissan-gtr.png" alt="" />
						</div>
						<div class="smooth"></div>
						<div class="car-info">
							<div class="fuel">
								<img src="../img/fuel-icon.svg" alt="" />
								<h1>90L</h1>
							</div>
							<div class="transmission">
								<img src="../img/transmission.svg" alt="" />
								<h1>Manual</h1>
							</div>
							<div class="seat">
								<img src="../img/people.svg" alt="" />
								<h1>2 People</h1>
							</div>
						</div>
						<div class="rent-buy">
							<div class="rent-price">
								<h1>$99.00/</h1>
								<p>day</p>
							</div>
							<button>Rent Now</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<script
			src="https://kit.fontawesome.com/6c7f5b53c2.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
